.route--active {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  display: inline-block;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lookup {
}
